# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

magenpot
*.swp
config.toml



public/pub/_errors
public/pub/_media
public/pub/_opt
public/pub/_others
public/pub/static/_adminhtml
public/pub/static/frontend/Magento/_luma
public/pub/static/.htaccess

notes.txt
