# Magenpot Configuration File

[magento]
# Port to server the honeypot webserver on.
# Note: Ports under 1024 require sudo.
port = 80

site_name = "Magenpot"
name_randomizer = true

# Allows you to set the magento_version file content to spoof different versions.
# Always served as "http[s]://server/magento_version"
magento_version_text = "Magento/2.3 (Enterprise)"

# Headers
header_server = "Apache/2.4.29 (Ubuntu)"
header_content_language = "en"


# TODO: Add support for domain names
# TODO: Optional SSL/TLS Cert

[hpfeeds]
enabled = false
host = "hpfeeds.threatstream.com"
port = 10000
ident = "magenpot"
auth = "somesecret"
channel = "magenpot.events"

# Meta data to be provided with each request phoned home
meta = "Magenpot scan event detected"

[fetch_public_ip]
# Warning: Only disable if running on a local machine for testing.
enabled = true
urls = ["http://icanhazip.com/", "http://ifconfig.me/ip"]
